* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 15px;
    padding-top: 20px;
    background-color: gray;
    max-width: 340px;
}

.formContainer {
    width: 280px;
    margin: auto;
    text-align: center;
    align-items: center;
    
}

.formContainer > input {
    margin: auto;
    padding: 5px;
    margin-bottom: 15px;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
}

h1 {
    color: blue;
    margin-bottom: 20px;
}